<html>
  <head>
     <link rel="stylesheet" type= "text/css" href="stylesheets/style.css">
  </head>

<body>
<center>
  <ul>
  <li><a href ="/index">Home</a></li>
  <li><a href="/quizzz">Quiz</a></li>
  <li><a href="/info">Capitals</a></a></li>
  <li><a href= "https://www.kodewithklossy.com">Kode with Klossy</a></li>
</ul>
 

<h1>QUIZ</h1>
<h2> Take this quiz to test your knowledge of the capital cities of the US!</h2>

<form method = "POST" action = "/results">
  <p> What is your name? <input type = "text" name = "username"></p>
  
  
   <p> What is the capital of Alabama?<input type = "text" name = "alabama" value = "10"></p>
   <p> What is the capital of Alaska?<input type = "text" name = "alaska" value = "20"></p>
   <p> What is the capital of Arizona?<input type = "text" name = "arizona" value = "30"></p>
   <p> What is the capital of Arkansas?<input type = "text" name = "arkansas" value = "40"></p>
   <p> What is the capital of California?<input type = "text" name = "california" value = "50"></p>
   <p> What is the capital of Colorado?<input type = "text" name = "colorado" value = "60"></p>
   <p> What is the capital of Connecticut?<input type = "text" name = "connecticut" value = "70"></p>
   <p> What is the capital of Delaware?<input type = "text" name = "delaware" value = "80"></p>
   <p> What is the capital of Florida?<input type = "text" name = "florida" value = "90"></p>
   <p> What is the capital of Georgia?<input type = "text" name = "georgia" value = "100"></p>
   <p> What is the capital of Hawaii?<input type = "text" name = "hawaii" value = "110"></p>
  
  
  
    <input type = "submit" value = "Click here to submit your quiz!!">
    
</form> 
  </center>
</body>
</html>