<html>
<head>
  <link rel="stylesheet" type= "text/css" href="stylesheets/style.css">
</head>
<body>

<ul>
  <li><a href ="/index">Home</a></li>
  <li><a href="/quizzz">Quiz</a></li>
  <li><a href="/info">Capitals</a></a></li>
  <li><a href= "https://www.kodewithklossy.com">Kode with Klossy</a></li>
</ul>
<br></br>

<img src = "https://raw.githubusercontent.com/aleajane/aleajane.github.io/master/pnn.png" width = "50%" height = "500" align = "left" >

<div >
<h1 class="paragraph">Welcome </h1>
<h2 class="w3-myfont paragraph" >Welcome to The Capital Quiz! This is an interactive quiz where you can test your skills on the U.S. capitals of all 50 states! I am so happy to be able to use my new coding skills to make a program I actually need to use for an upcoming test! Special thanks to Kode With Klossy for making this possible! Also special thanks to my amazing instructors, Kyla and McKenzie, and of course Ela and Tallie, because without them there is no way I would be able to make this!  </h2>
   </div>
   
<br></br>

   
</html>